<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer mode="side" role="navigation" id="sidenave">
    <mat-nav-list id="insidenave">
      <button fxHide="true" fxHide.xs="false" mat-icon-button [matMenuTriggerFor]="notifications"
        matTooltip="notifications">
        <mat-icon>notifications_on</mat-icon>
      </button>
      <mat-menu #notifications="matMenu">
      </mat-menu>
      <button mat-stroked-button id="button" (click)="navigateTo('welcome/main-notes')"><img class="image"
          src="./assets/img/note.svg" id="imgNotes">Notes</button><br>
      <button mat-stroked-button id="button" (click)="navigateTo('welcome/remainder')">
        <img class="image" src="./assets/img/reminders.svg" id="imgRem">Reminders</button><br>
      <hr id="line">
      <div>
        <span style="margin-left: 10px">
          <font face="arial">Label</font>
        </span>
      </div>
      <div (updateClick)="refresh($event)">
        <button mat-stroked-button class="buttonn" (click)="editLabel()">
          <img class="image" src="./assets/img/edit.png" width="12%" id="imglab">Edit label</button>
      </div>
      <div *ngFor="let label of labels">
        <div fxLayout=row fxLayoutGap="10%">
          <button mat-stroked-button class=labelbutton (click)="notesWithList(label)">
            <div fxFlex="5%"><i class="material-icons">label</i></div>
            <div fxFlex="90%" class="txtt">{{label.labelName}}</div>
          </button>
        </div>
      </div>
      <hr id="line">
      <button mat-stroked-button id="button" (click)="navigateTo('welcome/archive-notes')"><img class="image"
          src="./assets/img/Archive.svg" id="imgArc">Archive</button><br>
      <button mat-stroked-button id="button" (click)="navigateTo('welcome/trash-notes')"><img class="image"
          src="./assets/img/Trash.svg" id="imgtrace">Trash</button><br>
      <hr id="line">
      <button fxHide="true" fxHide.xs="false" mat-stroked-button id="button"><img class="image"
          src="./assets/img/Settings.svg" id="imgSet">Settings</button><br>
      <button fxHide="true" fxHide.xs="false" mat-stroked-button id="button"><img class="image"
          src="./assets/img/Send_feedback.svg" id="imgfeed">Send
        feedback
      </button><br>
      <button fxHide="true" fxHide.xs="false" mat-stroked-button id="button"><img class="image"
          src="./assets/img/help.svg" id="imghelp">Help</button><br>
      <button fxHide="true" fxHide.xs="false" mat-stroked-button id="button"><img class="image"
          src="./assets/img/app_download.svg" id="imgdn">App
        download
      </button><br>
      <button fxHide="true" fxHide.xs="false" mat-stroked-button id="button"><img class="image"
          src="./assets/img/keyboard_shortcuts.svg" id="imgkb">Keyboard
        shortcuts
      </button><br>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <!-- <app-main-notes [grid]="grid"></app-main-notes> -->
  </mat-sidenav-content>
</mat-sidenav-container>