<div>
  <mat-toolbar class="navbar">
    <mat-toolbar-row>
      <!-- menu -->
      <button id="menubuttn" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggle()"
        matTooltip="Menu">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- Image -->
      <p fxHide.xs="true"> <span><img src="./assets/img/keep.jpg" style="width:30px;"></span></p>

      <!-- keep -->
      <p id="text" fxHide.xs="true">Keep</p>

      <!-- Search -->
      <div id="searchbox" fxLayout="row" fxLayoutGap="2%">
        <div fxFlex="0%">
          <button mat-icon-button id="buttn"><i id="search" class="material-icons">search</i></button>
        </div>
        <div fxFlex="100">
          <input id="input" type="text" placeholder="Search" name="string" (click)="searchtest()" [(ngModel)]="string">
        </div>
      </div>

      <!-- Refresh -->
      <a mat-icon-button [routerLink]="welcome" routerLinkActive="active" matTooltip="Refresh">
        <mat-icon>refresh</mat-icon>
      </a>

      <!-- List & Grid -->
      <button id="viewstream" mat-icon-button fxHide.xs="true" fxShow.sm="false"
        fxShow.md="true" fxShow.lg="true">
        <mat-icon (click)="viewList()" *ngIf="grid==0">view_stream</mat-icon>
        <mat-icon (click)="viewGrid()" *ngIf="grid==1">view_module</mat-icon>
      </button>

      <!-- Settings -->
      <button fxHide.xs="true" mat-icon-button [matMenuTriggerFor]="settings" matTooltip="Settings">
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #settings="matMenu">
        <button mat-menu-item>
          <span>Settings</span>
        </button>
        <button mat-menu-item>
          <span>Send feedback</span>
        </button>
        <button mat-menu-item>
          <span>Help</span>
        </button>
        <button mat-menu-item>
          <span>App downloads</span>
        </button>
        <button mat-menu-item>
          <span>Keyboad Shortcuts</span>
        </button>
      </mat-menu>

      <!-- notfications -->
      <button fxHide.xs="true" mat-icon-button [matMenuTriggerFor]="notifications" matTooltip="notifications">
        <mat-icon>notifications_on</mat-icon>
      </button>
      <mat-menu #notifications="matMenu">
      </mat-menu>

      <!-- User -->
      <button mat-icon-button class="icon-button" id="more" [matMenuTriggerFor]="menu">
        <i id="accountcircle" class="material-icons">account_circle</i></button>
      <mat-menu #menu="matMenu" class="morecard">
        <button mat-button (click)="logout()">Sign out</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<mat-divider></mat-divider>
<!-- side navigation bar -->

<app-sidenavbar [toggleSidebar]="toggleNav"></app-sidenavbar>