<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex="20%;" fxFlex.xs="70%" fxFlex.sm="40%" fxFlex.md="30%">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <div align="center">
        <img src="./assets/img/keep.jpg" height=20% width=20%>
      </div><br>
      <mat-card-title align="center">Sign In To Fundoo Note</mat-card-title>
      <div class="form-group" class="example-container">
        <mat-form-field>
          <input matInput placeholder="Enter your email" type="emailId" formControlName="emailId" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" />
          <mat-error *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
            <mat-error *ngIf="f.emailId.errors.required">*emailId is <strong>required</strong></mat-error>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group" class="example-container">
        <mat-form-field>
          <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
            formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <mat-error *ngIf="f.password.errors.required">*password is <strong>required</strong></mat-error>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-card-actions>
          <button color="btn-primary" [disabled]="loading" class="btn btn-primary"><b>Sign In</b></button>
          <div>New user?
            <a [routerLink]="['/register']" class="btn btn-link">Sign Up</a>
          </div>
        </mat-card-actions>
      </div>
    </form>
  </mat-card>
</div>