.icon {
    font-size: 36px;
}

.button{
    position: absolute;
    right: 10px;
}

.text{
    outline: none;
    border: none;
    width: 80%;
    text-decoration-line: underline;
}

.saveButton
{
    float: right;
}