<div class="container" fxLayout="column" fxLayoutGap="5%" fxLayoutAlign="center center">
  Pinned Notes
  <div *ngFor="let note of notes">
    <mat-card *ngIf="note.pinned && !note.inTrash && !note.archive" [style.backgroundColor]="'yellow'" 
    class="head">
      <mat-card-header>
        <button mat-icon-button matTooltip="unpin" (click)=pinned(note) class="button">
          <img class="image" src="./assets/img/unpinned.png" height="50%" id="imgRem">
        </button>
        <mat-card-title (click)=openDialog(note)>
          {{note.title}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content (click)=openDialog(note)>
        {{note.description}}
      </mat-card-content>
      <div>
        <button mat-icon-button matTooltip="Remind me">
          <mat-icon>add_alert</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Collaborator">
          <mat-icon>person_add</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Change color">
          <mat-icon>palette</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Add image">
          <mat-icon>image</mat-icon>
        </button>
        <button mat-icon-button (click)="updateArchiveNote(note)" matTooltip="Archive">
          <mat-icon>archive</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" id="more" [matMenuTriggerFor]="more">
          <i id="accountcircle" class="material-icons">more_vert</i></button>
        <mat-menu #more="matMenu" class="morecard">
          <button mat-button (click)=moveToTrash(note)>Delete Note</button>
        </mat-menu>
      </div>
    </mat-card>
  </div>
</div>
